
html {
	padding: 0;
	margin: 0;
}

header.mdl-layout__header {
	background: white;
}
.mdl-layout__header-row {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
header .mdl-slider__container {
	flex: 1;
}

body {
	display: flex;
	flex-direction: column;
}

#animation-container {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #424242;
	overflow: auto;
}

#show-source-dialog {
	width: 80vw;
	height: 80vh;
}
.mdl-dialog-flex-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}
.mdl-dialog__title,
.mdl-dialog__actions {
	flex: 0 0 auto;
}
.mdl-dialog__content {
	flex: 1;
	overflow: auto;
}

.icon path:not([fill=none]) {
	fill: currentColor;
}
